{% if choices %}

Choices Are:

<ul>
    {% for choice in choices %}
        <li>
            {{choice.title}}
        </li>
    {% endfor %}
</ul>

<a href="/reset-choices">Reset Choices</a>

<br />
Or... Add Another

<form action="/add-choice" method="POST">
    <label for="title">Title: </label>
    <input type="TEXT" name="title" />

    <br />
    <input type="SUBMIT" name="Submit" />
</form>
{% else %}

No Choices Yet... Add One

<form action="/add-choice" method="POST">
    <label for="title">Title: </label>
    <input type="TEXT" name="title" />

    <br />
    <input type="SUBMIT" name="Submit" />
</form>

{% endif %}
